:root {
    --size : 100;
    --defWidthOfSquare : 7px;
    --widthOfSlider : 700px;
}

a {
    color: #ffffff;
}

p {
    color: rgb(255, 255, 255);
}

label {
    color: rgb(255, 255, 255);
}

.newL {
    font-size: 130%;
}

.clr {
    width: 80px;
    height: 30px;
    border: solid black;
    background-color: black;
}

.plt {
    border: dashed rgb(18, 40, 49);
}

.btns {
    border: dashed rgb(18, 40, 49);
    position : absolute;
    left : 1500px;
    top : 200px;
    width: 150px;
}

input [type = "checkbox"] {
    margin: 0.4rem;
}

body {
    background-color: rgb(8, 9, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blockTakeValues { 
    width: var(--widthOfSlider);
    background: rgb(20, 22, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="range"] {
    width:var(--widthOfSlider);
}

label {
    display: flex;
    justify-content: space-between;
}